$primary: #233573;
$secondary: #1673FF;
$text-light: #FFF;
$text-dark: #000;
$lightShadow: rgba(0,0,0,0.3);
$text-grey: #333;

// Sizing
$maxWidth: 1920px;
$desktop: 1025px;

// Spacings
$mobileGutter: 20px;
$spacingBlock: 50px;
$spacingBlockMobile: 25px;