@import "../../includes/settings.scss";

.project-details-container {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 50px 20px;

    .date {
        width: 100%;
        text-align: center;
        font-family: sans-serif;
        color: $text-grey;
        font-weight: 600;
        padding-bottom: 20px;
    }

    .featured-image {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 100px;

        img {
            height: 100%;
            max-height: 600px;
            box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
        }

        h2 {
            width:100%;
            text-align: center;
            font-family: sans-serif;
            color: $primary;
            margin: 0;
            padding: 0 0 20px 0;
        }
    }

    .involvement {
        padding-bottom: 100px;
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;

        p{
            font-family: sans-serif;
            color: $text-grey;
        }
        h2 {
            width:100%;
            text-align: center;
            font-family: sans-serif;
            color: $primary;
            margin: 0;
            padding: 0;
        }
    }

    .technologies {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 50px;
    }

    .features {
        max-width: 1000px;
        margin: 0 auto;
        padding-bottom: 100px;

        h2 {
            width:100%;
            text-align: center;
            font-family: sans-serif;
            color: $primary;
            margin: 0;
            padding: 0 0 20px 0;
        }

        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
            list-style: inside;
            margin: 0;
            padding: 0;

            li {
                font-family: sans-serif;
                color: $text-grey;
            }
        }
    }

    .images {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1000px;
        justify-content: space-evenly;
        margin: 0 auto;
        padding-bottom: 50px;

        h2 {
            width:100%;
            text-align: center;
            font-family: sans-serif;
            color: $primary;
            margin: 0;
            padding: 0 0 20px 0;
        }

        p {
            width: 100%;
            text-align: center;
            font-family: sans-serif;
            color: #696969;
            font-size: 16px;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }

        .image-container {
            padding-bottom: 30px;
            h4 {
                text-align: center;
                font-family: sans-serif;
                color: $primary;
            }
            .image {
                box-shadow: 0px 4px 8px $lightShadow;
                img {
                    max-height: 600px;
                }
            }
        }
    }
}

@media only screen and (max-width: $desktop) {
    .project-details-container {
        padding: 30px 20px;

        .featured-image {

            padding: 0 0 50px 0;

            img {
                width: 100%;
            }
        }

        .features {

            padding: 0 0 50px 0;

            ul {
                justify-content: flex-start;
            }
        }

        .involvement {
            padding: 0 0 50px 0;
        }

        .images {
            padding: 0 0 50px 0;
            justify-content: center;

            .image-container {
                width: 100%;
                padding-bottom: 30px;
                border-top: 1px solid $primary;

                &:first-of-type {
                    border: unset;
                }

                .image {
                    width: 100%;
                    box-shadow: unset;
                    

                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}